.acf-label:has(label[for="acf-field_content-modules"]) {
	display: none;
}

.acf-field--banner--content-width .acf-button-group {
	display: flex;
	flex-wrap: wrap;
	min-width: 300px;
	gap: 2px;

	> label {
		box-sizing: border-box;

		&:has(input[value="25"]) {
			flex: 0 0 25%;
		}

		&:has(input[value="33"]) {
			flex: 0 0 33%;
		}

		&:has(input[value="50"]) {
			flex: 0 0 50%;
		}

		&:has(input[value="66"]) {
			flex: 0 0 67%;
		}

		&:has(input[value="75"]) {
			flex: 0 0 75%;
		}

		&:has(input[value="100"]) {
			flex: 0 0 100%;
		}
	}
}

#acf-group_content-modules {

	.layout[data-layout="latest_posts"]:not(.-collapsed):not([data-mode="preview"]) {
		> .acf-fields {
			display: grid;
			grid-template-columns: repeat(20, 1fr);
			grid-template-rows: repeat(2, auto);

			> .acf-field {
				width: unset !important;
				min-height: unset !important;

				&[data-width="10"] {
					grid-column: span 2;
				}

				&[data-width="20"] {
					grid-column: span 4;
				}

				&[data-width="40"] {
					grid-column: span 8;
				}

				&[data-width="60"] {
					grid-column: span 12;
				}

				&[data-width="80"] {
					grid-column: span 18;
				}

				&[data-width="25"] {
					grid-column: span 5;
				}

				&[data-width="50"] {
					grid-column: span 10;
				}

				&[data-width="100"] {
					grid-column: span 20;
				}

			}
		}
	}

	.layout[data-layout="call_to_action"] {
		.mce-edit-area {
			iframe {
				height: 100px !important;
				min-height: 100px !important;
			}
		}
	}
}

// Custom icon + tooltip instructions in labels
label:has(button.acf-js-tooltip) {
	display: flex !important;
	align-items: center;
	gap: 0.125rem;

	button.acf-js-tooltip {
		appearance: none;
		border: 0;
		background: transparent;
		opacity: 0.5;
		transition: opacity 0.2s ease-in-out;
		padding: 0;
		font-size: 0.8rem;

		&:hover, &:focus {
			opacity: 1;
		}
	}
}


