#acf-group_content-modules .layout[data-layout=latest_posts]:not(.-collapsed):not([data-mode=preview]) > .acf-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}
#acf-group_content-modules .layout[data-layout=latest_posts]:not(.-collapsed):not([data-mode=preview]) > .acf-fields > .acf-field {
  width: unset !important;
  min-height: unset !important;
}
#acf-group_content-modules .layout[data-layout=latest_posts]:not(.-collapsed):not([data-mode=preview]) > .acf-fields > .acf-field[data-width="66"] {
  grid-column: span 2;
}
#acf-group_content-modules .layout[data-layout=latest_posts]:not(.-collapsed):not([data-mode=preview]) > .acf-fields > .acf-field[data-type=taxonomy] {
  grid-row: span 2;
}
#acf-group_content-modules .layout[data-layout=call_to_action] .mce-edit-area iframe {
  height: 100px !important;
  min-height: 100px !important;
}
#acf-group_content-modules .acf-field[data-name=image_options] {
  container-type: inline-size;
}
#acf-group_content-modules .acf-field[data-name=focal_point] .acf-fields,
#acf-group_content-modules .acf-field[data-name=image_offset] .acf-fields {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
@container (min-width: 200px) {
  #acf-group_content-modules .acf-field[data-name=focal_point] .acf-fields,
  #acf-group_content-modules .acf-field[data-name=image_offset] .acf-fields {
    flex-direction: row;
    gap: 0.5rem;
  }
}
#acf-group_content-modules .acf-field[data-name=focal_point] .acf-fields .acf-field-number,
#acf-group_content-modules .acf-field[data-name=image_offset] .acf-fields .acf-field-number {
  display: flex;
  gap: 0.25rem;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0;
  border: 0;
}
#acf-group_content-modules .acf-field[data-name=focal_point] .acf-fields .acf-field-number .acf-label,
#acf-group_content-modules .acf-field[data-name=image_offset] .acf-fields .acf-field-number .acf-label {
  margin: 0;
}
#acf-group_content-modules .layout[data-layout=image] .acf-image-uploader.has-value {
  aspect-ratio: var(--aspect-ratio, auto);
  transition: aspect-ratio 0.2s ease-in-out;
  overflow: hidden;
}
#acf-group_content-modules .layout[data-layout=image] .acf-image-uploader.has-value .image-wrap {
  cursor: crosshair;
  overflow: hidden;
  float: none;
  min-width: 100%;
  min-height: 100%;
  max-width: none !important;
  width: fit-content;
  height: fit-content;
  transition: top 0.2s ease-in-out, left 0.2s ease-in-out;
  position: relative;
  top: var(--image-offset-y, 0);
  left: var(--image-offset-x, 0);
}
#acf-group_content-modules .layout[data-layout=image] .acf-image-uploader.has-value .image-wrap .focal-point-indicator {
  width: 2rem;
  height: 2rem;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
  position: absolute;
  top: calc(var(--focal-point-y, 50) * 1% - 1rem);
  left: calc(var(--focal-point-x, 50) * 1% - 1rem);
}
#acf-group_content-modules .layout[data-layout=image] .acf-image-uploader.has-value .image-wrap img {
  width: auto;
  max-width: none;
  max-height: none !important;
  min-height: 100%;
  min-width: 100%;
}

label:has(button.acf-js-tooltip) {
  display: flex !important;
  align-items: center;
  gap: 0.125rem;
}
label:has(button.acf-js-tooltip) button.acf-js-tooltip {
  appearance: none;
  border: 0;
  background: transparent;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  padding: 0;
  font-size: 0.8rem;
}
label:has(button.acf-js-tooltip) button.acf-js-tooltip:hover, label:has(button.acf-js-tooltip) button.acf-js-tooltip:focus {
  opacity: 1;
}

/*# sourceMappingURL=admin.css.map */
