#acf-group_content-modules {

	.layout[data-layout="latest_posts"]:not(.-collapsed):not([data-mode="preview"]) {
		> .acf-fields {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, auto);

			> .acf-field {
				width: unset !important;
				min-height: unset !important;

				&[data-width="66"] {
					grid-column: span 2;
				}

				&[data-type="taxonomy"] {
					grid-row: span 2;
				}
			}
		}
	}

	.layout[data-layout="call_to_action"] {
		.mce-edit-area {
			iframe {
				height: 100px !important;
				min-height: 100px !important;
			}
		}
	}
}
