#acf-group_content-modules .layout[data-layout=latest_posts]:not(.-collapsed):not([data-mode=preview]) > .acf-fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
}
#acf-group_content-modules .layout[data-layout=latest_posts]:not(.-collapsed):not([data-mode=preview]) > .acf-fields > .acf-field {
  width: unset !important;
  min-height: unset !important;
}
#acf-group_content-modules .layout[data-layout=latest_posts]:not(.-collapsed):not([data-mode=preview]) > .acf-fields > .acf-field[data-width="66"] {
  grid-column: span 2;
}
#acf-group_content-modules .layout[data-layout=latest_posts]:not(.-collapsed):not([data-mode=preview]) > .acf-fields > .acf-field[data-type=taxonomy] {
  grid-row: span 2;
}
#acf-group_content-modules .layout[data-layout=call_to_action] .mce-edit-area iframe {
  height: 100px !important;
  min-height: 100px !important;
}
#acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] {
  container-type: inline-size;
}
#acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] > .acf-input > .acf-repeater > .acf-table > .ui-sortable > .acf-row {
  position: relative;
}
#acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] > .acf-input > .acf-repeater > .acf-table > .ui-sortable > .acf-row > .acf-row-handle {
  width: 1.5rem;
  flex-basis: 1.5rem;
}
#acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] > .acf-input > .acf-repeater > .acf-table > .ui-sortable > .acf-row > .acf-row-handle.remove {
  position: absolute;
  top: 2rem;
  left: -0.125rem;
  background: transparent;
}
#acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] > .acf-input > .acf-repeater > .acf-table > .ui-sortable > .acf-row > .acf-row-handle.remove [data-event=remove-row] {
  display: block !important;
  top: 1rem;
}
#acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] > .acf-input > .acf-repeater > .acf-table > .ui-sortable > .acf-row > .acf-fields {
  order: 3;
  flex-grow: 1;
}
@container (min-width: 600px) {
  #acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] > .acf-input > .acf-repeater > .acf-table > .ui-sortable {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  #acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] > .acf-input > .acf-repeater > .acf-table > .ui-sortable > .acf-row {
    display: flex;
    align-items: flex-start;
  }
}
@container (min-width: 940px) {
  #acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] > .acf-input > .acf-repeater > .acf-table > .ui-sortable:has([data-id=row-2]) {
    grid-template-columns: repeat(3, 1fr);
  }
  #acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] > .acf-input > .acf-repeater > .acf-table > .ui-sortable:has([data-id=row-3]) {
    grid-template-columns: repeat(4, 1fr);
  }
}
#acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] > .acf-input > .acf-repeater > .acf-table > .ui-sortable [data-key=field_column__content] > .acf-label {
  display: none;
}
#acf-group_content-modules .layout[data-layout=columns] [data-key=field_columns-repeater] > .acf-input > .acf-repeater > .acf-table > .ui-sortable [data-key=field_column__content] .acf-fc-top-actions [data-name=add-layout] {
  display: none;
}

label:has(button.acf-js-tooltip) {
  display: flex !important;
  align-items: center;
  gap: 0.125rem;
}
label:has(button.acf-js-tooltip) button.acf-js-tooltip {
  appearance: none;
  border: 0;
  background: transparent;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  padding: 0;
  font-size: 0.8rem;
}
label:has(button.acf-js-tooltip) button.acf-js-tooltip:hover, label:has(button.acf-js-tooltip) button.acf-js-tooltip:focus {
  opacity: 1;
}

/*# sourceMappingURL=admin.css.map */
